.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

#header{
  background-image: url(img/profilephoto.jpg);
  height: 230px;
}

#titletag{
    position: relative;
    top:-30px;
    color:#ffffff;
    font-size:1.9em;
    background-color: #A8003A;
    width:200px;
    margin: 0 auto;
    text-align: center;
    padding:10px;
    font-family: 'Unna', serif;
    font-weight:lighter;
}
#container{
  width:90%;
  margin:0 auto;
  text-align: center;
}

#footer{
  width:90%;
  margin:0 auto;
  padding:0 10px 10px 10px;
  border-top:1px solid #474B4F;
}


h2{
  font-family: 'Playfair Display', serif;
  font-size: 2.3em;
}

h3{
  font-family: 'Unna', serif;
}

p{
  font-family: 'Nanum Myeongjo', serif;
  font-size:17px;
}


#nav {
  position:relative;
  top:-10px;
  padding:0;
  margin-bottom: 30px;
}

#nav .item{
  list-style:none;
  text-align:center;
  width:98%;
  padding:5px;
  margin:1px;

}

.item a:link, .item a:visited{
  color:#400016;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  padding:4px;

}

#nav .item:hover, #nav .item:active{
  color:#000000;
}



#footer p{
  color:#474B4F
}

#footer a:link, #footer a:visited{
  color:#3D99BF
}

#footer a:hover, #footer a:active{
  color:#D9BE67;
}

.flexbox{
	display: flex;
	flex-direction: column;
}

.profile{
  border-top:1px solid #000000;
}

.profile img{
  width: auto;
  padding:20px;
}

.profile p{
  margin: 0px;
}

.profilecontent{
  margin: 0;
  padding-left:20px;
  padding-right:20px;
}

.display h3{
  margin-top: 50px;
  font-size: 1.5em;
  color:#450018;
}

.displaydate{
  font-size: 0.7em;
}

.display{
  border-top:1px solid #000000;
}

.blog{
  margin-bottom: 60px;
}

.caption{
  font-size: 0.8em;
  margin-top: 7px;
  margin-bottom: 30px;
  font-family: 'Source Serif Pro', serif;
  color:#450018;
}


@media (min-width: 450px) {

    .flexbox {
        flex-flow: row;
        justify-content: space-between;
    }

    .profile{
      margin:10px;
      margin-bottom: 50px;
    }

    .profile img{
        margin-top: 20px;
    }
    .profilecontent{
      margin: 10px auto;
      width:400px;
    }


}

@media screen and (min-width: 600px) {
  .profile{
    display:block;
    height:250px;
  }

  .profile img{
    width:35%;
    float:left;
    margin-left: 20px;
  }

  .profilecontent {
    padding-top:55px;
      width: 90%;
      max-width: 200px;
      float: right;
      padding-right: 40px;
    }

    .display{
      float:left;
    }


}

@media screen and (min-width: 800px) {

  #container{
    width:98%;
  }

  .profile{
    height:300px;
    grid-area:a;
    margin: 0;
    padding: 10px;
  }

  .profile img{
    width:80%;
    margin: 0;
    padding: 15px;
    padding-top: 80px;
    float:left;
  }

  .profilecontent {
    padding:0;
    margin: 0 auto;
    width:100%;
      float: none;
    }

    .profilecontent p{
      font-size: 0.9em;
      text-align:left;
    }

  .display{
    grid-area:b;
    border-left: 1px solid #000000;
  }

  .display h3{
    margin: 10px 10px 10px 20px;
  }

  .display img{
    width:95%;
    margin-left:15px;
  }

 .displaytitle{
   float: left;
 }

 .displaydate{
   float:right;
 }

.display p{
  margin: 0;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 1em;
}

.caption{
  font-size: 0.8em;
  margin-bottom: 10px;
}
  .blog{
    grid-area:c;
    border-left: 1px solid #000000;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

    #gridarea{
      display: grid;
      grid-template-columns: 200px 1.5fr;
      grid-template-areas:
          "a b"
          ". c";
    }


}

@media (min-width: 1200px) {

  .profile{
    display:block;
    height:400px;
  }

  .profile img{
    width:80%;
    float:left;
    padding:16px;
    margin-top:100px;
  }

  .profilecontent {
    padding-top:30px;
      max-width: 200px;
      float: none;
      margin-right: 20px;
    }

    .display{
      float:left;
    }

    .display img{
      margin: 30px;
    }

.blog{
    border-left: none;
    border-top:1px solid #000000;
    margin:0;
    padding:20px;
}

.blog p{
  font-size:1em;
}
    #gridarea {
      display: grid;
      grid-template-columns: 200px 1.6fr 1fr;
      grid-template-areas:
          "a b c";
    }
}





#nav .flexbox .item {
    display: block;
    border-top: 1px #79896d solid;
}

#nav a {
    color: #f8ecc2;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}


.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}



#nav .flexbox {
    display: none;
}

.menu-trigger a{
  color: #f8ecc2;
  display: block;
  text-decoration: none;
}

@media screen and (min-width: 700px){

    #nav .flexbox {
        display: flex;
    }

    #nav .flexbox .item {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    #nav {
        order: 2;
    }

}
